@import './../App.css';

/* Navbar Styles */
nav.navbar {
    background: linear-gradient(90deg, var(--theme-blue-primary), var(--theme-blue-secondary));
    /* Background color of the navbar */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img.logo {
    font-size: 24px;
    font-weight: bold;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
}

ul.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

ul.nav-links > li > a {
    text-decoration: none;
    color: var(--sortawhite);
    font-weight: bold;
    transition: color 0.3s ease;
}

ul.nav-links > li > a:hover {
    color: var(--offwhite);
}