:root {
  --post-button-margin: 5px;
}

/* Post Container */
.post {
  border: 1px solid var(--offwhite);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.post:hover {
  border: 2px solid var(--sortawhite);
}

/* User Info */
.post .post-header {
  display: flex;
  align-items: center;
  color: var(--sortawhite);
}

.post .profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.post .user-info .username {
  font-weight: bold;
  font-size: 1.2rem;
}

.post .user-info .timestamp {
  color: var(--gray);
  font-size: 0.9rem;
}

/* Post Content */
.post .post-content {
  font-size: 1.2rem;
  color: whitesmoke;
}

.post-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Default Like Button */
.like-button button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #AAAAAA;
  padding: 0;

  /*Seperates the count from the button*/
  margin-right: var(--post-button-margin);
}

/* Liked Like Button */
.like-button button.liked {
  color: var(--like-color);
}

/* Like Count */
.like-button .like-count {
  font-size: 14px;
  color: #777;
}

/* Default Repost Button */
.repost-button button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #AAAAAA;
  padding: 0;

  /*Seperates the count from the button*/
  margin-right: var(--post-button-margin);
}

/* Reposted Repost Button */
.repost-button button.reposted {
  color: var(--repost-color);
  /* A green color for the reposted state */
}

/* Repost Count */
.repost-button .repost-count {
  font-size: 14px;
  color: #777;
}