:root {
  --offwhite: #CCCCCC;
  --sortawhite: #EEEEEE;
  --sortablack: #282c34;
  --gray: #999999;

  --like-color: #e0245e;
  --repost-color: #17bf63;

  --theme-blue-primary: #007bff;
  --theme-blue-secondary: #00d4ff;

  background-color: var(--sortablack);

  transition: 300ms ease;
}